# DEBUG
SECRET_KEY="secretkey"
CAS_LOGOUT_SERVICE="?service=http%3A%2F%2F127.0.0.1%3A3000"
CAS_REDIRECT_URL="http://127.0.0.1:3000/loginRedirect"
DB_NAME="dbname"
DB_USER="username"
DB_PASSWORD="password"
DB_HOST="localhost"
DB_PORT=""

# PRODUCTION
SECRET_KEY="secretkey"
DB_NAME="dbname"
DB_USER="username"
DB_PASSWORD="password"
